html,
body {
  height: 100%;
  margin: 0;
}

li {
    padding-bottom: .5em;
    font-size: 20px;
}

.content {
    flex: 1;
}

.footer {
    text-align: center;
    margin-top: auto;
    padding: 2rem 0 2rem;
}

.card {
    border: 1px solid #eaeaea;
    border-radius: 3%;
}

.card:hover {
    box-shadow: 0 .5em 1em -.125em rgba(5,5,5,.1),0 0 0 2px rgba(5,5,5,.02);
    border: 1px solid #bababa;
}

.card-image {
    border-radius: 3%;
    padding: 0.5rem 0.5rem 0 0.5rem;
}

.card-image figure img {
    border-radius: 3%;
}

.imgage img {
    height: auto;
    width: auto;
}